// Specific CSS for your home-page
.carousel-item {
  img {
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
