// Import page-specific CSS files here.
@import "home";
@import "show";

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-flexbox {
  margin: 10px;
  width: 400px;
}

#map {
  height: 500px;
  width: 100%;
  margin: 20px 0;
}
