// Import page-specific CSS files here.
@import "home";
@import "show";

.content {
  display: flex;
  justify-content: center;
}

.index-cards-container {
  width: 66%;
  flex-grow: 1;
  grid-gap: 16px;
  margin-left: 25px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.index-card {
  margin: 8px;
}

.amusement-container {
  display: flex;
}

#map {
  margin-top: 8px;
  height: 100vh;
  width: 33vw;
  position: sticky;
  top: 0;
}
