.banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $earwax-yellow;
  h1 {
    margin: 0;
    font-size: 48px;
    text-shadow: 3px 3px 3px $red;
  }
  p {
    font-size: 20px;
    opacity: .7;
    text-shadow: 0 0 2px $red;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-home {
  padding: 250px 100px;
}


.banner-home h1 {
  font-size: 64px;
}

.banner-home p {
  font-size: 28px;
}