.banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $earwax-yellow;
  h1 {
    margin: 0;
    font-size: 48px;
    text-shadow: 3px 3px 3px $red;
  }
  p {
    font-size: 20px;
    opacity: .7;
    text-shadow: 0 0 2px $red;
  }
}

