.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  filter: invert(100%);
}

#nav-item-white-text a {
  color: white;
}

.pointer {
  cursor: pointer;
}

.content-container {
  padding-top: 75px;
}
