<HR>
<h4>Please rate your experience</h4> 
<%= simple_form_for [@booking_for_review, @review] do |f| %>
  <%= f.input :rating, collection: 1..5%>
  <%= f.input :comment %>
  <%= f.submit "Send your review", class: "btn btn-danger" %>
<% end %>

